<%@company.locations.each do |location|%>
<ul class="locationInfo">
  <li><a class="locationName" href="/locations/<%=location.id%>"><%=location.name%></a></li>
  <li>Open today from <%=location.beginDay(Time.now.wday)%> to <%=location.endDay(Time.now.wday)%></li>
  <li class="locationAddress"><%=location.address1%></li>
  <li class="locationCityStateZip"><%=location.city%>, <%=location.state%> <%=location.postal%></li>
  <li class="locationMileage"></li>
  <li><%=location.phone%>  <a class="seeMap">See Map</a></li>
</li>
<% end %>

