
  <label>Order Summary:</label> 
  <label for="locationAddress">Location:</label>
  <address id="locationAddress">
    <%=@location.name%><br/>
	<%=@location.address1%><br/>
    <%=@location.phone%><br/>
  </address>
  <input type="hidden" id="orderId" value="<%=@order.id%>">
  <% unless @order.order_items.empty?%>
  <table id="os_items">
	<tr>
	  <th class="os_item_qty">Qty</th>
	  <th class="os_item_name">Item</th>
	  <th class="os_item_price">Price</th>
	  <th></th>
	</tr>
	<% orderItemGroup = @order.order_items_by_item_for %>
	<% orderItemGroup.each_key do |group| %>      		<!-- for each group -->
	<% unless group.nil? %>
	<tr><td colspan="4"><%=group%></tr>	
	<% end %>
	<% orderItemGroup[group].each do |orderItem| %>		<!-- for each orderItem -->
	<% if orderItem.item_type == OrderItem::MENU_ITEM %>
  	<tr>
	  <td>
		<input type="hidden" class="menuItemId" value="<%=orderItem.menu_item.id%>"/>
		<input type="hidden" class="orderItemId" value="<%=orderItem.id%>"/>
	    <input type="hidden" class="orderItemOptions" value="<%=orderItem.optionIds(@order.order_items)%>"/>
	    <input type="hidden" class="orderItemChoices" value="<%=orderItem.choiceIds(@order.order_items)%>"/>
	    <input type="hidden" class="orderItemComment" value="<%=orderItem.comment%>"/>		
		<select class="quantity">
		<% 
		  (1..20).each do |i|
			if i == orderItem.quantity %>
		      <option selected value="<%=i%>"><%=i%></option> 
			<% else %>
			  <option value="<%=i%>"><%=i%></option> 
			<% end  # end if 
		  end       # end for %>
		</select>
	  </td>
	  <td><a class="menuItemEdit"><%=orderItem.menu_item.name%></a></td>
	  <td align="right"><%=number_to_currency(orderItem.price)%></td>
	
	  <td align="center"><a class="menuItemDelete">x</a></td>
	</tr>
	<% orderItem.choice_options(@order.order_items).each do |choiceOption| %>	<!-- for each choiceOption -->
	<tr>
	  <td>&nbsp;</td>
	  <td class="os_choice_option"><%=choiceOption.name%></td>
	  <td align="right"><%=number_to_currency(choiceOption.price)%></td>
	  <td>&nbsp;</td>
	</tr>
	<% end %>																	<!-- end each choiceOption -->
	<% end %>  																	<!-- end if MENU_ITEM -->
	<% end %>   																<!-- end each orderItem -->
	<% end %>																	<!-- end each group -->
	<tr>
		<td colspan="3"><hr/></td>	
	</tr>															
	<tr>
		<td></td>
		<td align="right">Subtotal:</td>
		<td align="right"><%=number_to_currency(@order.sub_total)%></td>
	</tr>
	<tr>
		<td></td>
		<td align="right">Tax:</td>
		<td align="right"><%=number_to_currency(@order.tax_total)%></td>	
	</tr>
	<tr>
		<td></td>
		<td align="right">Total:</td>
		<td align="right"><%=number_to_currency(@order.total)%></td>	
	</tr>
  </table>
  <% end     # end empty? %>  

  <% unless session[:profileId].nil? %>
  <label>Credit Card Info</label>
  <span id="os_cc_name"><%=@profile.first_name%> <%=@profile.last_name%></span>
  <span id="os_cc_info"><%=@profile.card_type%> - <%=@profile.maskedCard%></span>
  <span id="os_cc_exp">exp. <%=@profile.expiration_month%>/<%=@profile.expiration_year%></span>
  
  <% if @profile.show_cvv %>
  <span id="os_cc_cvv">cvv. <input type="text" id="cvv" name="cvv" class="required"/></span>
  <% end %>
  <% if @location.show_delivery %>
  <label>Pickup</label>
  <span class="pickupRadio">Now</span><input type="radio" id="pickupNow" name="pickup" class="pickup" value="now" checked/>
  <span class="pickupRadio">Later</span><input type="radio" name="pickup" id="pickupLater" class="pickup" value="later"/>
    <div id="os_pickup_time_container" style="display:none;">
	  <span class="pickupTimeLabel">Time: </span><input type="text" id="pickupDatePicker"/>
    </div>
  <% end %>  <!-- end if show delivery -->
  <% end %>  <!-- end if profile.nil -->
  <div id="checkoutButton" class="button">Checkout</div>

<script type="text/javascript">
  var deliveryIncrement = <%=@location.delivery_increment%>;
  var deliveryPadding = <%=@location.delivery_padding%>;
  var deliveryHourMin = <%=@location.beginHour(Time.now.wday)%>;
  var deliveryHourMax = <%=@location.endHour(Time.now.wday)%>;
  
  jQuery('#pickupDatePicker').datetimepicker({ minDate: calculateStartTime(new Date()), 
												  ampm:true,
											timeFormat:'hh:mm T',
											stepMinute:deliveryIncrement,
											showSecond:false,
											   hourMin:deliveryHourMin,
											   hourMax:deliveryHourMax-1});	
</script>
