<table cellpadding="4" cellspacing="4" id="orderTable">
  <tr>
    <th>Order Num</th>
    <th>Order Placed</th>
    <th>Order Pickup</th>
    <th id="customerColumn">Customer</th>
    <th></th>
  </tr>
  <% if @orders.nil? or @orders.empty? %>
  <tr>
    <td colspan="6">No orders </td>
  </tr>
  <% else %>
  <% @orders.each do |order| %>
  <tr>
    <td><%=order.id%></td>
    <td><%=order.placed_at%></td>
    <td><%=order.pickup_at%></td>
    <td><%=order.user.first_name%> <%=order.user.last_name%></td>
    <td><a href="/cookview/order/<%=order.id%>"><div id="detailBtn" class="button">detail</div></a></td>	
  </tr>
  <% end %>
  <% end %>
</table>