<table>
	<tr>
	  <th>Select</th>
	  <th>Date</th>
	  <th>Order</th>
	  <th>Items</th>
	</tr>
	<% firstOption = true %>
	<% unless @prevorders.nil? %>
	  <% @prevorders.each do |order| %>
	  <tr>
	    <% if firstOption == true %>
		<td valign="top"><input type="radio" checked name="selectedOrder" value="<%=order.id%>"/></td>
		<% firstOption = false %>
		<% else %>
		<td valign="top"><input type="radio" name="selectedOrder" value="<%=order.id%>"/></td>
		<% end %>
		<td valign="top"><%=order.placed_at%></td>
		<td align="center" valign="top"><%=order.id%></td>
		<td>
		  <table>
			<% order.order_items.each do |orderItem| %>
			  <% if orderItem.item_type == OrderItem::MENU_ITEM %>
				<tr>
					<td><%=orderItem.name%></td>
					<td></td>
				</tr>
				<% firstPass = true %>
				<% orderItem.choiceOrderItems(order.order_items).each do |choice| %>
				  <tr>
					<% if firstPass %>
					  <% firstPass = false %>
					  <td>Choices:</td>
					<% else %>
					  <td></td>
					<% end %>
					  <td style="font-style:italic"><%=choice.name%></td>
				  </tr>
				<% end %>
				<% firstPass = true %>
				<% orderItem.optionOrderItems(order.order_items).each do |option| %>
				  <tr>
					<% if firstPass %>
					  <% firstPass = false %>
					  <td>Options:</td>
					<% else %>
					  <td></td>
					<% end %>
					  <td style="font-style:italic"><%=option.name%></td>
				  </tr>
				<% end %>
			  <% end %>					
			<% end %>
		  </table>	
		</td>
	  </tr>
	  <% end %>
	<% end %>
	</table>
	<div id="poCopy" class="button">Copy</div>
	<div id="poCancel" class="button">Cancel</div>	