<script language="JavaScript">
  _gaq.push(['_addTrans',
    '<%=@prevorder.id%>',           					// order ID - required
    '<%=html_escape(@prevorder.location.name)%>',  		// affiliation or store name
    '<%=@prevorder.total%>',	       					// total - required
    '<%=@prevorder.tax_total%>',    		       		// tax
    '0',              									// shipping
    '<%=@prevorder.location.city%>',       				// city
    '<%=@prevorder.location.state%>',     				// state or province
    'USA'             									// country
  ]);
</script>
<style>
#ty_container {
	float:left;
	clear:left;
	color:#6D3C14;
	padding:15px;
}
#ty_container label {
	float:left;
	clear:left;
	padding-bottom:10px;
}
#ty_container .ty_value {
	float:left;
	color:#545454;
	padding-left:5px;
}
#ty_container table {
	padding-top:10px;
}

</style>
<div id="ty_container">
  <label>Order Number:</label><span class="ty_value"><%=@prevorder.id%></span>
  <label>Name:</label><span class="ty_value"><%=@prevorder.order_payments[0].first_name%> <%=@prevorder.order_payments[0].last_name%></span>

  <table cellpadding="2" cellspacing="2">
	<tr>
	  <th>Quantity</th>
	  <th style="width:400px">Item</th>
	  <th>Price</th>
	  <th>Total</th>
	  <th>Comment</th>
	</tr>
  <% @prevorder.order_items.each do |orderItem| %>
	<tr>
	  <% if orderItem.item_type == OrderItem::MENU_ITEM %>
	  <td><%=orderItem.quantity%></td>
	  <td><%=orderItem.name%></td>
	  <% else %>
	  <td><%=orderItem.quantity%></td>
	  <td style="font-style:italic;"><%=orderItem.name%></td>
	  <% end %>
	  
	  <td><%=number_to_currency(orderItem.price)%></td>
	  <td><%=number_to_currency(orderItem.price * orderItem.quantity)%></td>	
	  <td><%=orderItem.comment%></td>
	</tr> 
	<script language="JavaScript">
  	  _gaq.push(['_addItem',
        '<%=@prevorder.id%>',           							// order ID - required
		<% if orderItem.item_type == OrderItem::MENU_ITEM %>
        '<%=orderItem.menu_item_id%>',         	 					// SKU/code
		<% else %>
        '<%=orderItem.choice_option_id%>',          				// SKU/code		
		<% end %>
		'<%=html_escape(orderItem.name)%>',							// product name
        <% if orderItem.item_type == OrderItem::MENU_ITEM %>		
        '<%=html_escape(orderItem.menu_item.category.name)%>',   	// category or variation
		<% elsif orderItem.item_type == OrderItem::CHOICE_ITEM %>
		'Choice',													// category or variation
		<% else %>
		'Option',													// category or variation
		<% end %>
        '<%=orderItem.price%>',          							// unit price - required
        '<%=orderItem.quantity%>'               					// quantity - required
      ]);
    </script>	
  <% end %>
    <tr><td colspan="5"><hr/></td></tr>
    <tr>
	  <td colspan="3" align="right">Subtotal:</td>
	  <td align="right" style="color:#545454;"><%=number_to_currency(@prevorder.sub_total)%></td>
	  <td></td>
	</tr>
    <tr>
	  <td colspan="3" align="right">Tax:</td>
	  <td align="right" style="color:#545454;"><%=number_to_currency(@prevorder.tax_total)%></td>
	  <td></td>
	</tr>
    <tr>
	  <td colspan="3" align="right">Total:</td>
	  <td align="right" style="color:#545454;"><%=number_to_currency(@prevorder.total)%></td>
	  <td></td>
	</tr>
  </table>
  <label>Billing Information:</label>
  <span class="ty_value" style="clear:left">
	<%=@prevorder.order_payments[0].first_name%> <%=@prevorder.order_payments[0].last_name%><br/>
	<%=@prevorder.order_payments[0].address_1%><br/>
    <%=@prevorder.order_payments[0].city%> <%=@prevorder.order_payments[0].state%> <%=@prevorder.order_payments[0].postal%> <br/>
    <%=@prevorder.order_payments[0].card_type%> <%=@prevorder.order_payments[0].maskedCard%></br/>
  </span>
</div>

<script language="javascript">
  jQuery('#windowtitle').html('Order Summary');
  _gaq.push(['_trackTrans']);
  jQuery.unblockUI();		
</script>