<div id="menuItemContainer">
	<div id="navCatBack">
		<input type="hidden" id="navMenuItemId" value="<%=@menuItem.category.id%>"/>
		<a class="menuItemNavBack">back</a>
		<%=@menuItem.name%>
	</div>
	<div id="menuItemDesc"><%=@menuItem.description%></div>
	<div id="menuItemPrice"><%=number_to_currency(@menuItem.price)%></div>
	<input type="hidden" id="menuItemId" value="<%=@menuItem.id%>"/>
	<div id="groupContainer">
  		<% @menuItem.choice_option_groups.each do |choiceOptionGroup| %>
  		<label for="choiceOption"><%=choiceOptionGroup.name%></label>
  		<div class="choiceOption">
  			<% if choiceOptionGroup.item_type == 2 %> 
  			<select class="choice">
  			<% choiceOptionGroup.choice_options.each do |choiceOption| %>
				<option value="<%=choiceOption.id%>"><%=choiceOption.name%></option>		
  			<% end %>
  			</select>
  			<% else %>
  			<% choiceOptionGroup.choice_options.each do |choiceOption| %>
				<input type="radio" class="option" value="<%=choiceOption.id%>"/>
				<span class="optionName"><%=choiceOption.name%></span>
  			<% end %>
  			<% end %>
  		</div>
  		<% end %>
	</div>	
	<div id="commentContainer">
		<textarea class="comment" rows="5" cols="38">Type your comment here.</textarea>
	</div>
	<div id="add2cart" class="button">
		<span class="button-text">Add</span>
	</div>		  
</div>
