<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Breakinline Admin</title>
	
	<%= stylesheet_link_tag 'ext-all.css' %>
	<%= stylesheet_link_tag 'admin.css' %>
		
	<%= javascript_include_tag 'ext-all-debug-w-comments.js' %>
	<%= javascript_include_tag 'admin.js' %>
	
  </head>
  <body>
    <%= yield%>
  </body>
</html>		