<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
	<%= stylesheet_link_tag session[:context] + '/overcast/jquery-ui-1.8.11.custom', :media => 'screen' %>
	<%= stylesheet_link_tag session[:context] + '/mobile', :media => 'screen' %>
	<%= javascript_include_tag 'jquery-1.5.1.min.js' %>
	<%= javascript_include_tag 'mobile.js' %>
	
  </head>
  <body>
	<div id="cook_header">
	  <%= render 'layouts/mobile_header'%>
	</div>
	<%=yield%>
  </body>
</html>